/* 
#################################
    Store Section CSS
#################################
*/

.featured-container {
    margin-top: 100px;
    width: 100%;

    font-family: var(--geist);
    padding: 20px 100px;
    display: flex;
    flex-wrap: wrap;
}

.ftTitle {
    width: 100%;
}

.productCards {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.itemCard {
    font-family: var(--alegreya);
    border: 1px solid var(--btnBg);
    border-radius: 10px;
    width: 350px;
    height: 400px;
    cursor: pointer;
    padding: 10px 25px;
}

.itemMedia {
    width: 300px;
}
