.container-profile {
  display: flex;
  min-height: 100vh;
}

.sidebar-profile {
  width: 250px;
  background: #b0b0b0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: var(--montserrat);
}

.sidebar-profile button {
  padding: 12px;
  cursor: pointer;
  background-color: #6aab7a;
  color: black;
}

.sidebar-profile button:hover{
    transform: translateY(-2px);
    background-color: #4a7c59;
}

.contenido-profile {
  flex: 1;
  padding: 30px;
}